<div class="container-fluid mt-4">
  <app-loading [hidden]="!isLoading"></app-loading>
  <button class="btn btn-success btn-md" [routerLink]="['/home/book']" [hidden]="isLoading">Back</button>
  <div class="row" [hidden]="isLoading">
    <div class="col-md-3">
      <img src="{{ model.Path }}" class="img-fluid mt-5 ml-5" />
    </div>
    <div class="col-md-5">
      <h2 class="mt-5">{{ model.Title }}</h2>
      <p>{{ model.Author }}</p>
    </div>
    <div class="col-md-4">
      <div class="alert alert-primary mt-5" role="alert">
        <b>Soft Cover</b>
        <p class="mt-4">Quantity {{ model.Qty }}</p>
      </div>
    </div>
  </div>
</div>
