<nav class="navbar navbar-expand-sm navbar-dark bg-primary sticky-top">
  <a class="navbar-brand" href="#">
    <i class="fa fa-book mr-2"></i>Librangular
  </a>

  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fa fa-home mr-1"></i>Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link ml-3" href="#">
          <i class="fa fa-history mr-1"></i>History
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link ml-3 dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="fa fa-user mr-1"></i>Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" href="#">Action 1</a>
          <a class="dropdown-item" href="#">Action 2</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
